@import url('./theme.css');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hd_hover_block {
    @apply hover:bg-gray-100 duration-200 dark:hover:bg-primary dark:hover:text-white  px-2 cursor-pointer;
  }
}

@layer base {
  :root {
    --hd_gray: 180, 0%, 30%;
  }

  .dark {
    --hd_gray: 180, 0%, 50%;
    --primary: 40, 94%, 58%;
    --card-foreground: 0 0% 75%;
    --card: 0 0% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-muted dark:bg-black text-hd_gray;
  }
}
