@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	:root{
		--hd-background:white;
		--hd-primary:#e74c3c;
		--hd-foreground:#333;
		--hd-border:#ddd;
	}
	.dark{
		--hd-background:#111;
		--hd-primary:#f1c40f;
		--hd-foreground:#888;
		--hd-border:#333;
	}
}

@layer base{
	body{
		@apply bg-gray-200 dark:bg-black text-hd-foreground ;
	}
}