@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
	:root{
		--hd-background:white;
		--hd-primary:#e74c3c;
	}
	.dark{
		--hd-background:#333;
		--hd-primary:#f1c40f;
	}
}

@layer base{
	body{
		@apply bg-gray-200 dark:bg-gray-900;
	}
}